<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnJkfbjcmaVU1I2_YkgLpXuvV4tbUNeME</string>
	<key>GCM_SENDER_ID</key>
	<string>302749940703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.present.Traditional-Market</string>
	<key>PROJECT_ID</key>
	<string>traditionalmarket-969a4</string>
	<key>STORAGE_BUCKET</key>
	<string>traditionalmarket-969a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302749940703:ios:83503ac42e663e31c1e26a</string>
</dict>
</plist>